@{
    var CustomerDetails = ViewBag.CustomerDetails;
}
@using GroceryStoreAPI.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Customer
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('btnUpdate').style.visibility = 'hidden';
            if (document.getElementById("buttoncheck").value == "Update") {
                document.getElementById("buttoncheck").value = "Edit";
            }
        });

        function EditCustomer(id, name) {
            document.getElementById("txtId").value = id;
            document.getElementById("txtName").value = name;
            document.getElementById('btnUpdate').style.visibility = 'visible';
            document.getElementById('btnAdd').style.visibility = 'hidden';

            document.getElementById("buttoncheck").value = "Update";
        }

        function UpdateButtonValue(buttonvalue) {
            document.getElementById("buttoncheck").value = buttonvalue;
        }

    </script>
</head>

<body>
    <form method="post" action="/Customer/Index">
        <h1>Customer Details</h1>
        <table>
            <tr>
                <td>
                    Id:
                </td>
                <td>
                    <input type="number" data-val="true"
                           required
                           data-val-required="The Id field is required."
                           id="txtId" name="txtId" value=""><br>
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" data-val="true" required
                           data-val-required="The name field is required."
                           id="txtName" name="txtName">
                </td>
            </tr>
            <tr>
                <td><input type="hidden" id="buttoncheck" data-val="true" name="buttoncheck" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" onclick="UpdateButtonValue('All')" formnovalidate="" style="height: 25px; width: 200px" id="btnAdd">All Customers</button>
                    <button type="submit" onclick="UpdateButtonValue('Add')" style="height: 25px; width: 200px" id="btnAdd">Add Customer</button>

                    <button type="submit" onclick="UpdateButtonValue('Update')" style="height: 25px; width: 200px" id="btnUpdate">Update Customer</button>

                    <button type="submit" onclick="UpdateButtonValue('Retrieve')" formnovalidate formnovalidatestyle="height: 25px; width: 200px" id="btnRetrieve">Retrieve Customer</button>

                </td>
            </tr>
        </table>
    </form>  <div id="DIVtarget">
    </div>

    <table style="background-color:#FFFFE0;" width="50%">
        <tr style="background-color:#BDB76B;">
            <td width="25%">ID</td>
            <td width="25%">Name</td>
            <td width="25%">Action</td>
        </tr>
        @if (CustomerDetails != null)
        {
            @foreach (var CusDetails in CustomerDetails)
            {
                <tr>
                    <td width="25%">
                        <label asp-controller="Customer" asp-action="UpdatingCustomerDetail" asp-route-id="@CusDetails.id"></label>@CusDetails.id
                    </td>
                    <td><label asp-controller="Customer" asp-action="UpdatingCustomerDetail" asp-route-id="@CusDetails.name">@CusDetails.name</label></td>
                    <td width="25%">
                        <input type="button" value="Edit" onclick="EditCustomer('@CusDetails.id','@CusDetails.name');" />
                        <a href="/Customer/DeleteCustomerDetails/@CusDetails.id" btn btn-Danger>Delete</a>

                    </td>
                </tr>
                <br />
            }

        }
        else
        {
            <tr>
                <td> No Record Found</td>
                <td> No Record Found</td>
            </tr>

        }
    </table>

</body>
</html>

